<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Detection</title>
    <style>
        .tableButton{
            cursor: pointer;
            color: white;
            font-weight: bold;
            background-color:rgb(56, 152, 236);
            border-radius: 4px;
        }

        .tableHyperlink{
            text-decoration: underline;
            cursor: pointer;
            color: rgb(56, 152, 236);
            font-weight: bold;
        }
    </style>
    <script>
        {% for category in detections.categories %}
        function showTable{{category.name}}() {
            var x = document.getElementById("table{{category.name}}");
            if (x.style.display === "none") {
                x.style.display = "inline-table";
            } else {
                x.style.display = "none";
            }
        }
        {% endfor %}

        function showImageByFileName(fileName) {
            console.log("galleryImage" + fileName);
            var x = document.getElementById("galleryImage" + fileName);
            x.click();
        }

        function runAIDetection() {
            var x = document.getElementById("ai_model_options");
            var selectedValue = x.options[x.selectedIndex].value;
            console.log(selectedValue);
            $.post("/run_detection/{{ id }}", {model_options: selectedValue});
        }

        function generateDetectionTable(detectionData) {
            //check if detectionTable exists
            var x = document.getElementById("detectionTable");
            if (x === null) {
                //create detectionTable
                var detectionTableContainer = document.getElementById("detectionTableContainer");
                var detectionTable = document.createElement("table");
                detectionTable.id = "detectionTable";
                detectionTableContainer.appendChild(detectionTable);
                //create header
                var header = document.createElement("tr");
                var headerCategory = document.createElement("th");
                headerCategory.innerHTML = "Category";
                header.appendChild(headerCategory);
                var headerFindings = document.createElement("th");
                headerFindings.innerHTML = "Findings";
                header.appendChild(headerFindings);
                var headerLowestConfidence = document.createElement("th");
                headerLowestConfidence.innerHTML = "lowest confidence";
                header.appendChild(headerLowestConfidence);
                var headerImages = document.createElement("th");
                headerImages.innerHTML = "images";
                header.appendChild(headerImages);
                detectionTable.appendChild(header);
            }
        }
    </script>
</head>
<body>
    <div style="display: flex; margin: 5px 0 15px 0">
        <select name="Detection Quality" id="ai_model_options" style="margin: auto 0 auto 0">
                        <option value="fast">quick (only two models)</option>
                        <option value="medium">medium (more models, more potential detections)</option>
                        <option selected="all" value="all">best (all models, but slowest)</option>
                    </select>
        <label for="ai_model_options" style="margin: auto auto auto 16px"> Detection Quality </label>
        {% if detections %}
        <button class="big_button" onclick="runAIDetection()">Re-Run AI Detection</button>
        {% else %}
        <button class="big_button" onclick="runAIDetection()">Run AI Detection</button>
        {% endif %}
    </div>
    {% if detections %}
    <div id="detectionTableContainer">
        <table id="detectionTable">
            <tr>
                <th>Category</th>
                <th>Findings</th>
                <th>lowest confidence</th>
                <th>images</th>
            </tr>
            {% for category in detections.categories %}

            <tr onclick="showTable{{category.name}}()">
                <th>{{ category.name }}</th>
                <td>{{ category.sum }}</td>
                <td>{{ category.lowest_score | round(3)}}</td>
                <td> <a class="tableButton"> &nbsp; &#x25BE; &nbsp; </a></td>
            </tr>
            <tr>
                <td colspan="4">
                    <table id="table{{category.name}}" style="display:none; width: 100%">
                        <tr>
                            <th>Image</th>
                            <th>Number of objects</th>
                        </tr>
                        {% set outer_loop = loop %}
                        {% for image in detections.images %}
                        {% if image.sum[outer_loop.index0] > 0 %}
                        <tr>
                            <td> <a class="tableHyperlink" onclick="showImageByFileName('{{ image.file_name }}')">{{ image.file_name }} </a> </td>
                            <td>{{ image.sum[outer_loop.index0] }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </td>
            </tr>

            {% endfor %}
            {% endif %}
        </table>
    </div>
</body>
</html>