<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Detection</title>
    <style>
        .tableButton{
            cursor: pointer;
            color: white;
            font-weight: bold;
            background-color:rgb(56, 152, 236);
            border-radius: 4px;
        }

        .tableHyperlink{
            text-decoration: underline;
            cursor: pointer;
            color: rgb(56, 152, 236);
            font-weight: bold;
        }
    </style>
    <script>
        var detections = {{ detections | tojson }};

        function showTableByCategory(category) {
            var x = document.getElementById("table" + category);
            if (x.style.display === "none") {
                x.style.display = "inline-table";
            } else {
                x.style.display = "none";
            }
        }

        function showImageByFileName(fileName) {
            console.log("galleryImage" + fileName);
            var x = document.getElementById("galleryImage" + fileName);
            x.click();
            drawAnnotationsOnImage(fileName);
        }

        function runAIDetection() {
            var x = document.getElementById("ai_model_options");
            var selectedValue = x.options[x.selectedIndex].value;
            console.log(selectedValue);
            $.post("/run_detection/{{ id }}", {model_options: selectedValue}, function(data){
                console.log("Data: " + data );
                generateDetectionTable(data);
                detections = data;
            });
        }

        function generateDetectionTable(detectionData) {
            //check if detectionTable exists
            var x = document.getElementById("detectionTable");
            if (x === null) {
                //create detectionTable
                var detectionTableContainer = document.getElementById("detectionTableContainer");
                var tbl = document.createElement("table");
                tbl.id = "detectionTable";
                detectionTableContainer.appendChild(tbl);

                //create header
                var header = tbl.insertRow();
                //create header cells for "category", "findings", "lowest confidence" and "images"
                var headings = ["Category", "Findings", "Lowest Confidence", "Images"];
                for (let i = 0; i < headings.length; i++){
                    var h1 = document.createElement('th');
                    h1.innerHTML = headings[i];
                    header.appendChild(h1);
                }


                //for every "category" in detection data create a row
                var categories = detectionData["categories"];
                for (let i = 0; i < categories.length; i++){
                    var category = categories[i];
                    var row = tbl.insertRow();

                    subHeader = document.createElement('th');
                    subHeader.innerHTML = category.name;
                    row.append(subHeader);
                    row.insertCell().innerHTML=category.sum;
                    var a = document.createElement('a');
                    if(category.sum > 0){
                        row.insertCell().innerHTML=category.lowest_score;
                        a.innerHTML = "&#x00A0; show &#x25BE; &#x00A0;";
                        a.setAttribute("class", "tableButton");
                    }else{
                        row.insertCell().innerHTML="-";
                        a.innerHTML = "no images with object found";
                    }
                    row.insertCell().appendChild(a);


                    //create a new table in the next row that shows all the image names of the category
                    var expandableRow = tbl.insertRow();
                    var subTableCell = expandableRow.insertCell();
                    subTableCell.setAttribute("colspan", "4");
                    var subTable = document.createElement("table");

                    subTable.id = "table" + category.name;
                    subTable.style.display = "none";

                    var subTableHeader = subTable.insertRow();
                    var subHeadings = ["Image Name", "Number of detected objects"];
                    for (let j = 0; j < subHeadings.length; j++){
                        var h1 = document.createElement('th');
                        h1.innerHTML = subHeadings[j];
                        subTableHeader.appendChild(h1);
                    }

                    //loop over all images in detectionData and add them to the table if the category matches
                    var images = detectionData["images"];
                    for (let j = 0; j < images.length; j++){
                        var image = images[j];
                        if (image.sum[i] > 0){
                            var subTableRow = subTable.insertRow();
                            var lineHeading = document.createElement('th');
                            lineHeading.innerHTML = image.file_name;
                            subTableRow.append(lineHeading);

                            subTableRow.insertCell().innerHTML=image.sum[i];
                            subTableRow.cells[0].setAttribute("class", "tableHyperlink");
                            subTableRow.cells[0].onclick = (function(opt) {return function(){
                                showImageByFileName(opt);
                                };
                            })(image.file_name);
                        }
                    }

                    subTableCell.appendChild(subTable);

                    if(category.sum > 0){
                        row.onclick = (function(opt) {return function(){
                            showTableByCategory(opt)
                            };
                        })(category.name);
                    }
                }
            }
        }

        function getImageIndexByName(filename){
            var images = detections["images"];
            for (let i = 0; i < images.length; i++){
                if (images[i].file_name === filename){
                    return i;
                }
            }
        }

        function drawAnnotationsOnImage(filename){
            var canvas = document.getElementById("canvas" + filename);
            var ctx = canvas.getContext("2d");
            var img = document.getElementById("baseImage" + filename);

            //scale based on images source size and the current size of the image
            var scale = img.width/ img.naturalWidth;

            imageIndex = getImageIndexByName(filename);
            annotationData = detections["annotations"][imageIndex];

            //console.log("filename: " + filename);
            //console.log("camvas id: " + canvas.id);
            //console.log("imageIndex: " + imageIndex);
            //console.log("annotationData: " + annotationData);

            canvas.width = img.width;
            canvas.height = img.height;

            for (let i = 0; i < annotationData.length; i++){
                var annotation = annotationData[i];
                //if (annotation.image_id === imageIndex){
                    var x, y, w, h;
                    x = annotation.bbox[0] * scale;
                    y = annotation.bbox[1] * scale;
                    w = annotation.bbox[2] * scale;
                    h = annotation.bbox[3] * scale;
                    ctx.lineWidth = 4;
                    ctx.strokeStyle = "red";
                    //ctx.clearRect(x, y, w, h);
                    ctx.strokeRect(x, y, w, h);

                //}
            }
        }
    </script>
</head>
<body>
    <div style="display: flex; margin: 5px 0 15px 0">
        <select name="Detection Quality" id="ai_model_options" style="margin: auto 0 auto 0">
                        <option value="fast">quick (only two models)</option>
                        <option value="medium">medium (more models, more potential detections)</option>
                        <option selected="all" value="all">best (all models, but slowest)</option>
                    </select>
        <label for="ai_model_options" style="margin: auto auto auto 16px"> Detection Quality </label>
        {% if detections %}
        <button class="big_button" onclick="runAIDetection()">Re-Run AI Detection</button>
        {% else %}
        <button class="big_button" onclick="runAIDetection()">Run AI Detection</button>
        {% endif %}
    </div>
    <div id="detectionTableContainer">
    </div>
    <script>
        {% if detections %}
        generateDetectionTable({{ detections | tojson }});
        {% endif %}
    </script>
</body>
</html>