<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Projects</title>
</head>
<body>
    <h1>All Projects</h1>
    <ul>
        {% for project in projects %}
        <li>
            <a href="/python/{{ project.id }}">{{ "✖" }}</a>
            <a href="/{{ project.id }}">{{ project.name }}</a>
            <a> {{ project.description }}</a>
            <a>  ID: {{ project.id }}</a>
        </li>
        {% endfor %}
    </ul>
    <!-- button to add a new report with the app.route / create -->
    <details>
        <summary>new Project</summary>
        <div class="tab-content">
            <form method="post" action="/create">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" required>
                <input type="submit" value="Create new Report">
            </form>
        </div>
    </details>
    <a href="/create">Add a new project</a>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</body>
</html>