matplotlib
numpy
vincenty
utm
geopy
Shapely
descartes
pyexifinfo
piexif
imutils
Pillow
weathercom
ffmpeg-python
requests==2.28.0
opencv_python
scipy
scikit_image
ipython
docker == 6.0.0
flask == 2.2.2
pyodm == 1.5.10
pyocclient
psutil
pyyaml
werkzeug == 2.2.2
pyproj
rasterio
Cython == 3.0.10
py360convert
numba
geoserver-rest
