table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px solid var(--bg-color-a);
  text-align: left;
  padding: 8px;
}



tr:nth-child(odd) {
  background-color: var(--bg-color-a);
}

.rowTitle{
  width: 30%;
}
